# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
*.log

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db